<!DOCTYPE html>
<html>
  <head>
    <title>GenshinComp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar"> 
      <ul>
        <li><%= link_to "HOME", root_path %> </li>
        <li><%= link_to "Personagens", characters_path%> </li>
        <li><%= link_to "Elementos", elements_path %></li>    
        <li><%= link_to "Armas", weapons_path %></li>    
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
