<!DOCTYPE html>
<html>
  <head>
    <title>GenshinComp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar"> 
      <ul>
        <li><%= link_to "HOME", root_path %> </li>
        <li><%= link_to "Personagens", characters_path%> </li>
        <li><%= link_to "Elementos", elements_path %></li>    
        <li><%= link_to "Armas", weapons_path %></li>   
        <li>
          <% if user_signed_in? %>
            <%= current_user.email %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
